.customButton:hover {
   background-color: #4a92df !important;
   color: white !important;
}

.flexEnd {
   display: flex;
   justify-content: flex-end;
}

@media screen and (max-width: 992px) {
   .flexEnd {
      justify-content: unset !important;
   }
}
